@tailwind base;
@tailwind components;
@tailwind utilities;

/* header banner */
.header-700 {
    background-color: #fff;
}

.site-name {
    color: grey;
    font-weight: 700;
}

.site-name a:hover {
    color: #505050;
  }

.navbar {
    overflow: hidden;
  }

.navbar a {
    float: left;
    color: grey;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
  }
/* Changes color of nav item text on hover */
.navbar a:hover {
    color: #505050;
  }

.dropdown {
    float: left;
    overflow: hidden;
  }

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: grey;
    padding: 16px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: inherit;
    font-size: 1rem;
  }

/* Adds background color to nav items on hover */
/*
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #dedede;
  }
*/

/* Adds background color to nav items in dropdown list on hover */
.dropdown-content a:hover {
    background-color: #dedede;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }



/* Main page area */
h1 {
    font-size: 2rem;
}

.description {
    font-style: italic;
    color: grey;
}

/* Article page */
.articles {
  padding: 20px 0;
}

.articles p {
  font-weight: 600;
}

.articles li {
  color: grey;
  font-size: 0.7rem;
}

.articles ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.articles a:hover {
  background-color: #dedede;
}

/* 404 page */

.padding-bt {
  padding-bottom: 3rem;
}

.left {
  max-width: 50%;
  float: left;
}

.left img {

  margin: auto;
}

.right {
  max-width: 50%;
  float: left;
}

.right ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.links-404-page a {
  color: grey;
  font-size: 0.8rem;
}

.links-404-page a:hover {
  color: black;
}



/* footer */
.bg-footer-700 {
    color: grey;
    background-color: #e0e0e0;
}

.bg-footer-700 a {
    color: #505050;
}

.social-media {
    font-size: 0.75rem;
}

.social-media img {
    max-width: 32px;
}

.social-media ul {
    display:inline-flex;
}

.social-media li {
    margin-left: 1rem;
    font-weight: 500;
}

.social-media a:hover {
    color: #505050;
    text-decoration: underline;
  }

.attribution {
    font-size: 0.75rem;
}

.attribution a {
    font-weight: 500;
}

.attribution a:hover {
    color: #505050;
    text-decoration: underline;
}